.container {
  background-color: #fff;
}

.header { 
  background-color: #f9f9fb;
  padding: 50px 24px 30px 24px;
}

.header {

}
.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerTopLeft {

}
.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 8px;
}
.headerSubTitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(151, 151, 151, 0.8);
}
.headerTopRight {

}
.headerBottom {

}

.menuButton {
  border-top: 2px solid;
  width: 18px;
  display: block;
  cursor: pointer;
  color: #FB9400;
  ;
}

.menuButton::after,
.menuButton::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
}

