.container {
  background-color: #ffffff;
  box-shadow: 0px 8px 40px rgba(0,0,0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.head {
  height: 90px;
  background-color:#fb9400;
  
}

.info {
  padding: 13px;
}

.info .img {
  text-align: center;
}

.info .img img{
  width: 80%;
  height: auto;
  margin-top: -90px;
}

.catName {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 8px;
}
.name {
  color: #1b1b1b;
  font-weight: 700;
  font-size: 18px;
}
.price {
  color: #fb9400;
  font-weight: 600;
  font-size: 15px;
}